{% extends 'base.html' %}

{% block content %}
<main class="container">
    <section>
        <h2>Мета дипломного проєкту</h2>
        <p>
            Даний дипломний проєкт може служити путівником для туристів та ентузіастів і в більш доступній формі продемонструвати переваги тієї чи іншої країни та міста.
            На даному веб-сайті можна шукати статті по категоріям, ключовим словам, самостійно їх публікувати та змінювати і бути причетним до допомоги іншим через інформацію.
        </p>
    </section>
</main>

<footer>
    &copy;2025 Дипломний проєкт. ОПЗ-8.
</footer>
{% endblock %}